allow-build-scripts=@whiskeysockets/baileys,sharp,esbuild,protobufjs,fs-ext,node-pty,@lydell/node-pty,@matrix-org/matrix-sdk-crypto-nodejs

# 强制使用 HTTPS 代替 SSH（解决 Git SSH 权限问题）
# pnpm 会自动将 git+ssh:// 转换为 https://
git-shallow-hosts[]=github.com
git-shallow-hosts[]=gitlab.com
git-shallow-hosts[]=bitbucket.org
